/* EXPLORE */

.explore {
    text-align: center;
    padding-bottom: 2em;
    background-color: #f3f3f3;
    padding-bottom: 3em;

    & h2 {
        font-size: 24px;
        padding: 1em 2em 0;
        font-weight: 700;
    }

    & p {
        font-size: 18px;
        font-weight: 300;
        margin: 0;
        padding: 0.5em 0.5em 1.5em;
    }

   

}