/* FOOTER */

.footer {
    background-color: #353535;
    padding: 1.375em 1.563em 1em;

    .footer-nav {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        
        .nav-desktop {
            display: flex;
            flex-direction: column;
        }

        & img {
            
            width: 130px;
            

        }

        & a {
            font-size: 1em;
            font-weight: 500;
            color: white;

            & i {
                margin-right: 0.5em
            }
        }
    }
}