@media (min-width: 930px) {

    .header {
        img {
            margin: 0.9em;
        }
    }

    .function {

        .function-tittle {
            padding: 0 12em;

        }
    }

    .function menu {
        flex-direction: row;
        justify-content: center;
        gap: 2em;
    }

    .restaurants {
        padding: 3em 11em;

        .restaurants-tittle {
            padding: 0 2.5em;
        }

        .restaurants-card {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            gap: 5em;

            & a {
                width: calc(50% - 5em);

            }
        }
    }

    .footer {
        padding: 3em 3em 1em;

        .footer-nav {
            display: flex;
            flex-direction: row-reverse;
            gap: 5em;

            h4 {
                margin: 0;

            }

            .nav-desktop {
                display: flex;
                flex-direction: row;
                gap: 2em;
            }
        }
    }

    .heart-tittle {
        justify-content: center;
    }
}


@media (min-width: 1050px) {
    body {
        .page-image {
            img {
                height: 383px;
            }
        }


        .menu {
            .menu-page {
                min-width: 1050px;
                margin: 0 auto;
                padding: 2.5em 13em;

                .heart-tittle {
                    text-align: center;
                    padding-bottom: 3em;
                }
            }
        }

    }
}