/* FOOTER */

.footer {
    background-color: #353535;
    padding: 22px 25px 22px 25px;
    gap: 16px;
}

.footer-nav {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    align-items: center;

    & h4 {
        color: white;
        height: 27px;
        width: auto;
        font-family: "Shrikhand";
        font-family: 400;
        font-size: 18px;
        padding: 30px, 25px, 30px, 25px
    }

    & a {
        font-weight: 500;
        color: white;
    }
}