/* RESTAURANTS */

.restaurants {
    background-color: #f6f6f6;
    gap: 1em;
    display: flex;
    flex-direction: column;
    padding: 2.5em 1em;
    width: 100%;

    .restaurants-card {
        display: flex;
        flex-direction: column;
        gap: 1em;


        &a {
            width: 100%;
        }

        .new {
            position: relative;

        }

        .new::before {
            content: "Nouveau";
            position: absolute;
            height: 29px;
            width: 80px;
            border-radius: 2px;
            background-color: #99E2D0;
            color: #008766;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 1.5em;
            right: 1em;
        }

        .card {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            gap: 4px;

            & img {
                width: 100%;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                height: 70%;
                object-fit: cover;
            }

            .card-footer {
                display: flex;

            }

            .card-restaurant-content {
                // width: 100%;
                flex: 1;
                padding: 0.5em;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                position: relative;

                & h3 {
                    font-size: 1.125em;
                    font-weight: 700;
                    color: #000000;
                }

                & p {
                    font-size: 17px;
                    font-weight: 300;
                    color: #000000;
                    margin: 0;
                }
            }

            .heart-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 3em;
                height: 3em;
                position: relative;
                background-color: transparent;
                border: none;

                i {
                    font-size: 1.375em;
                }

                .fa-solid {
                    display: none;
                    position: absolute;
                    color: transparent;
                    background-image: linear-gradient(#9356DC, #FF79DA);
                    background-clip: text;
                    -webkit-background-clip: text;
                    
                }
                
                &:hover {
                    .fa-solid {
                        display: block;
                        transform: scale(1.2);
                    }
                    .fas {
                        transition: all 0.3s ease-in-out;
                    }
                }

            }
        }
    }
}