@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto";
}

.card {
  background-color: white;
  border-radius: 20px;
  height: 251px;
}

.card img {
  object-fit: cover;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header img {
  display: flex;
  align-items: center;
  padding: 14px;
  max-width: 200px;
  height: auto;
}
.header .city {
  background-color: #EAEAEA;
  text-align: center;
  padding: 8px;
  height: 50px;
  width: 100%;
}
.header .city i {
  width: 12px;
  height: 16px;
}
.header .city input {
  border: transparent;
  background-color: #EAEAEA;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  color: #353535;
  padding-top: 5px;
}

/* EXPLORE */
.explore {
  text-align: center;
  padding-bottom: 30px;
  background-color: #f3f3f3;
}
.explore h2 {
  font-size: 24px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 700;
  margin: 0;
}
.explore p {
  font-size: 18px;
  font-weight: 300;
}
.explore button {
  color: white;
  font-weight: 500;
  font-size: 16px;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 4px 10px 0 #000000;
}

/* FUNCTION */
.function {
  counter-reset: list;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
}
.function menu {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
}
.function button {
  background-color: #f6f6f6;
  border-radius: 20px;
  height: 72.38px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 25px;
  box-shadow: 0 4px 10px 0 #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
}
.function button i {
  margin-right: 20px;
}
.function button::before {
  content: counter(list);
  counter-increment: list;
  color: white;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -13px;
}

/* RESTAURANTS */
.restaurants {
  background-color: #f6f6f6;
  gap: 18px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.restaurants-card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.restaurants-card img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 100%;
}
.restaurants-card a {
  width: calc(50% - 20px);
  padding: 10px;
}
.restaurants-card .card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 4px;
}
.restaurants-card .new {
  position: relative;
}
.restaurants-card .new::before {
  content: "Nouveau";
  position: absolute;
  height: 29px;
  width: 80px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #008766;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
}

.card-restaurant-content {
  width: 100%;
  padding: 0 15px 0 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}
.card-restaurant-content h3 {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}
.card-restaurant-content p {
  font-size: 17px;
  font-weight: 300;
  color: #000000;
  margin: 0;
}

.heart-icon {
  display: flex;
  justify-content: end;
  position: relative;
}
.heart-icon button {
  position: absolute;
  top: -40px;
  padding-right: 20px;
}

/* FOOTER */
.footer {
  background-color: #353535;
  padding: 22px 25px 22px 25px;
  gap: 16px;
}

.footer-nav {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  align-items: center;
}
.footer-nav h4 {
  color: white;
  height: 27px;
  width: auto;
  font-family: "Shrikhand";
  font-family: 400;
  font-size: 18px;
  padding: 30px, 25px, 30px, 25px;
}
.footer-nav a {
  font-weight: 500;
  color: white;
}

@media (max-width: 1024px) {
  .function ol {
    flex-direction: column;
  }
  .restaurants-card {
    flex-direction: column;
  }
  .restaurants-card a {
    width: 100%;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.header-image img {
  max-width: 100%;
  height: auto;
}

.menu-page {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.menu-page h2 {
  font-weight: 400;
  font-family: "Shrikhand";
  font-size: 28px;
  text-align: center;
}

.page-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
}
.page-card h3 {
  font-weight: 300;
  font-size: 16px;
}
.page-card .card {
  width: auto;
  height: 69px;
}
.page-card .card .card-page-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.page-card .card .card-page-content h4 {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}
.page-card .card .card-page-content p {
  font-weight: 300;
  font-size: 15px;
}

.button-command {
  display: flex;
  justify-content: center;
}
.button-command button {
  color: white;
  font-weight: 500;
  font-size: 16px;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 4px 10px 0 #000000;
}

/*# sourceMappingURL=style.css.map */
