.loader-screen {
  width: 100%;
  height: 100%;
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #99E2D0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: loader-screen 3s ease-in-out;
}

.loader-logo {
  display: inline-block;
  position: relative;
  top: 5%;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  top: 8%;
  border: 4px solid #008766;
  animation: loader 3s ease-in-out;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #008766;
  animation: loader-inner 3s ease-in-out;
}

@keyframes loader-screen {
  0% {
    opacity: 1;
    z-index: 10;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  99% {
    z-index: 10;
  }

  100% {
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }

  25% {
    opacity: 1;
    transform: rotate(180deg);
  }

  50% {
    opacity: 1;
    transform: rotate(180deg);
  }

  75% {
    opacity: 1;
    transform: rotate(360deg);
  }

  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    opacity: 1;
    height: 0%;
  }

  25% {
    opacity: 1;
    height: 0%;
  }

  50% {
    opacity: 1;
    height: 100%;
  }

  75% {
    opacity: 1;
    height: 100%;
  }

  100% {
    opacity: 0;
    height: 0%;
  }
}


@keyframes menu-pages {
  0% {
    opacity: 0;
    transform: scaleX(1) scaleY(0.5);
  }

  25% {
    opacity: 1;
  }

  50% {
    transform: scaleX(1) scaleY(1.08);
  }

  90% {
    transform: scaleX(1) scaleY(1);
  }

  100% {
    opacity: 1;
  }
}